
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form-container, .result-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 350px;
  margin: 20px auto;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

select,
button,
input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

button {
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

.file-input-container {
  margin-bottom: 16px;
}

canvas {
  margin-top: 16px;
  border: 1px solid #333;
  display: block;
  margin: 0 auto;
}
